<div class="w3-container">
  <table>
    <thead>
      <tr>
        <th>
        </th>
        <th>
          Carbs
        </th>
        <th>
          Fat
        </th>
        <th>
          Protein
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Oreos
        </td>
        <td>
          12
        </td>
        <td>
          2
        </td>
        <td>
          2
        </td>
      </tr>
    </tbody>
  </table>
</div>