<div class="w3-display-container">
  <img src="https://farmviewmarket.com/wp-content/uploads/2017/03/meal-prrp.jpg" style="width:100%">
  <% current_user.meals.includes(:foods).each do |meal| %>
  <table class="macronutrients-table">
    <caption><%= meal.name %></caption>
    <thead>
      <tr class="w3-blue">
        <th>
        </th>
        <th>
          Carbs
        </th>
        <th>
          Fat
        </th>
        <th>
          Protein
        </th>
      </tr>
    </thead>
    <tbody>
      <% meal.foods.each do |food| %>
      <tr>
        <td>
          <%= food.name %>
        </td>
        <td>
          12
        </td>
        <td>
          2
        </td>
        <td>
          2
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <div class="w3-display-middle">
    <div class="w3-padding-large w3-center" style="background-color:white; border: solid black 3px">
      <h1 class="w3-center" style="font-size:400%">Let's Get Started</h1>
      <%= link_to 'Create A Plan', new_meal_path, class: 'w3-center w3-button w3-light-green', style: 'font-size:300%' %>
    </div> 
  </div>
</div>
