<div class="w3-container">
  <% current_user.meals.includes(:foods).each do |meal| %>
  <table class="macronutrients-table">
    <caption><%= meal.name %></caption>
    <thead>
      <tr class="w3-blue">
        <th>
        </th>
        <th>
          Carbs
        </th>
        <th>
          Fat
        </th>
        <th>
          Protein
        </th>
      </tr>
    </thead>
    <tbody>
      <% meal.foods.each do |food| %>
      <tr>
        <td>
          <%= food.name %>
        </td>
        <td>
          12
        </td>
        <td>
          2
        </td>
        <td>
          2
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <div>
    <%= link_to 'Create Meal', new_meal_path, class: 'w3-btn w3-green' %>
  </div>
</div>