<div class="w3-content" style="max-width:1100px">
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="http://img.thrfun.com/img/021/264/grocery_list_l2.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>
    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Macro Prep</h1><br>
      <h5 class="w3-center">Meal Planning</h5>
      <p class="w3-large">Something about meal planning.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">More about planning.</p>
    </div>
  </div>
</div>