<header class="w3-display-container w3-content w3-wide" style="max-width: 2000px; min-width:500px" id="home">
  <img style="opacity:1; width:100%" src="/images/food_main_background.jpg" alt="Hamburger Catering">
  <div>
    <div class = "w3-display-middle w3-padding-large" style="background-color:white; border: 1px solid black; opacity:.8;">
      <h1 style="font-size:500%"><b></b>MacroPrep</b></h1>
      <h5 class="w3-center" style="font-size:100%"><b>Proactive Macronutrient Preparation</b></h5>
    </div>
    <%= link_to 'Try the Demo', sign_up_path, class: 'w3-display-middle w3-padding-large w3-button w3-white w3-hover-light-gray', style: 'font-size:300%; width:30%; position:relative; top:-120px; border: 1px solid black;'%>
  </div>
  
</header>

<div class="w3-content" style="max-width:1100px">
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-hide-small">
     <img src="http://www.womenshealthmag.com/sites/womenshealthmag.com/files/articles/2015/11/meal-prep-pics.jpg" class="w3-opacity-min" alt="Table Setting" style="width:100%">
    </div>
    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">What is MacroPrep?</h1><br>
      <h3 class="w3-center">We are <b>MacroPrep</b>, a proactive macronutrient planner that helps you achieve your goals.</h3>
    </div>
  </div>
</div>
