<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" style="opacity:1" src="/images/food_main_background.jpg" alt="Hamburger Catering" width="1600" height="800">
  <div>
    <div class = "w3-display-middle w3-padding-large" style="background-color:white; border: 1px solid black; opacity:.8;">
      <h1 style="font-size:500%"><b></b>MACRO PREP</b></h1>
      <h5 class="w3-center" style="font-size:100%"><b>Proactive Macronutrient Prep</b></h5>
    </div>
    <input class="w3-display-middle w3-padding-small w3-button w3-white" style="font-size:300%; width:30%; position:relative; top:-120px; border: 1px solid black;" type="button" value="See the Demo">
  </div>
  
</header>

<div class="w3-content" style="max-width:1100px">
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-hide-small">
     <img src="http://www.womenshealthmag.com/sites/womenshealthmag.com/files/articles/2015/11/meal-prep-pics.jpg" class="w3-opacity-min" alt="Table Setting" style="width:100%">
    </div>
    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">WHAT IS MACRO PREP</h1><br>
      <p class="w3-large w3-center">We are Macro Prep, a macronutrient-based meal planner.</p>
    </div>
  </div>
</div>
