<!DOCTYPE html>
<html>
  <head>
    <title>Macroprep</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>
    <div class="w3-top">
      <div class="w3-bar w3-white w3-padding w3-card-2" style="letter-spacing:4px;">
        <a href="#home" class="w3-bar-item w3-button">MACRO PREP</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
          <a href="#about" class="w3-bar-item w3-button">About</a>
          <a href="#contact" class="w3-bar-item w3-button">Contact</a>
        </div>
      </div>
    </div>
      <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
      <!--<h1 class="w3-center">Macro Prep</h1><br>-->
      <img class="w3-image" style="opacity:1" src="https://static.pexels.com/photos/262918/pexels-photo-262918.jpeg" alt="Hamburger Catering" width="1600" height="800">
      <div>
        <div class = "w3-display-middle w3-padding-large" style="background-color:white; border: 1px solid black; opacity:.8;">
          <h1 style="font-size:500%"><b></b>MACRO PREP</b></h1>
          <h5 class="w3-center" style="font-size:100%"><b>Proactive Macronutrient Prep</b></h5>
        </div>
        <input class="w3-display-middle w3-padding-large w3-button w3-white" style="font-size:300%; width:30%; position:relative; top:-120px; border: 1px solid black;" type="button" value="Try It Out">
      </div>
      
    </header>
    <%= yield %>
  </body>
</html>
